.vkb_tip {font: 12px Arial,Helvetica,sans-serif;border:solid 1px #666666;width:210px;padding:3px;z-index:100;
          position:absolute;visibility:hidden;color:#000000;top:20px;left:90px;background-color:#ffffcc;}
.vkb_IEbutton3 {margin-bottom: -1em; color: #000000; background-color: #b5c9e2;}
.vkb_CloseButton  {color: #000000;background-color: #dddddd;}
.vkb_button2{color: #000000;font-size: 10px;font-family: verdana, monospace;background-color: #999900;}
.vkb_short{MARGIN-BOTTOM: 0px;}
.vkb_short1{MARGIN-BOTTOM: 0px; MARGIN-TOP: 5px;}

